# vscode settings
.vscode

# backend files
backend/env
backend/main/.env

# personal sql scripts
sql

# frontend files
frontend/package-lock.json
frontend/yarn-lock.json
frontend/node_modules
backend/beerlist/__pycache__/*.pyc
backend/users/__pycache__/*.pyc
frontend/public/.DS_Store
